* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}
.section {
    min-height: 95vh;
}
li {
    list-style-type: none;
}
section a {
    text-decoration: none;
    color: #e9e9e9;
}
section a:hover {
    text-decoration: underline;
    color: #e9e9e9;
}
section a:visited {
    color: #e9e9e9;
}
.main-navigation {
    background-color: #000000;
    color: #e9e9e9;
    position: fixed;
    z-index: 100;
    padding: 25px 10px 25px 10px;
}
.main-navigation a,
.main-navigation a:visited {
    color: #e9e9e9;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
}
.main-navigation a:hover {
    color: #ffffff;
}

.menu-navigation-container,
.menu-portfolio2-container {
    float: right;
}
.navigation-title {
    display: inline-block;
}
@media screen and (max-width: 1023px) {
    .main-navigation a:nth-of-type(2) {
        float: right;
    }
    .navigation-title {
        width: 100%;
    }
    .main-navigation li {
        width: 100%;
    }
    .main-navigation a, .main-navigation a:visited {
        padding: 6px 0px 6px 0px;
    }
}
